In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
toy = pd.read_csv("toy_dataset.csv")
print(toy)
columns =  ['City', 'Gender', 'Age', 'Income']
target_columns = ['Illness']

x = toy[columns]
y = toy['Illness']
x = pd.get_dummies(x)
x_train, x_valid, y_train, y_valid = train_test_split(x, y, random_state=1, test_size=0.2)

        Number    City  Gender  Age    Income Illness
0            1  Dallas    Male   41   40367.0      No
1            2  Dallas    Male   54   45084.0      No
2            3  Dallas    Male   42   52483.0      No
3            4  Dallas    Male   40   40941.0      No
4            5  Dallas    Male   46   50289.0      No
...        ...     ...     ...  ...       ...     ...
149995  149996  Austin    Male   48   93669.0      No
149996  149997  Austin    Male   25   96748.0      No
149997  149998  Austin    Male   26  111885.0      No
149998  149999  Austin    Male   25  111878.0      No
149999  150000  Austin  Female   37   87251.0      No

[150000 rows x 6 columns]